@charset "UTF-8";

:root {
    --fundo: #a2ae86;
    --topo: #697449;
    --link: #788B4B;
    --lhover: #79836d;
    --fontBI: 'GaramondBI'
}

@media screen and (min-width: 768px) {
    span#burguer {
        display: none;
    }

    menu {
        display: block;
    }

    menu > ul > li {
        display: inline-block;
    }

    menu > ul > li > a {
        color: white;
        text-decoration: none;
        background-color: var(--link);
    }
}

@media screen and (max-width: 768px) {
    menu > ul > li > a {
        color: white;
        text-decoration: none;
        background-color: var(--link);
    }
}