@charset "UTF-8";

@font-face {
    font-family: 'GaramondBI';
    src: url("../Fontes/AGaramondPro-BoldItalic.otf") format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'GaramondB';
    src: url("../Fontes/AGaramondPro-Bold.otf") format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'GaramondI';
    src: url("../Fontes/AGaramondPro-Italic.otf") format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'GaramondR';
    src: url("../Fontes/AGaramondPro-Regular.otf") format('opentype');
    font-weight: normal;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --fundo: #a2ae86;
    --topo: #697449;
    --link: #788B4B;
    --lhover: #79836d;
    --fontBI: 'GaramondBI'
}

body, html {
    background-color: var(--fundo);
}

header {
    background-color: var(--topo);
    color: white;
    padding: 30px;
    text-align: center;
    width: 98,5vw;
}

header > h1 {
    padding: 5px;
    font-family: var(--fontBI);
    font-variant: small-caps;
    font-size: 2em;
}

header > p {
    padding: 5px;
    font-family: 'GaramondR';
    font-size: 1.25em;
}

header > h1 > a {
    text-decoration: none;
    color: white;
    font-family: var(--fontBI);
}

span#burguer {
    color: white;
    display: block;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

span#burguer:hover {
    display: block;
    padding: 10px;
    text-align: center;
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: var(--link);
    color: white;
    margin: 2px;
    font-family: 'GaramondR';
}

menu > ul > li > a:hover {
    background-color: var(--lhover);
    box-shadow: 1px 1px rgba(0, 0, 0, 0.300);
}

main {
    background-color: white;
    max-width: 750px;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
}

main > ol > li > a {
    text-decoration: none;
    color: black;
    font-family: Georgia;
}

main > h2 {
    text-align: center;
    font-family: var(--fontBI);
    font-size: 1.7em;
}
main > h3 {
    font-family: 'GaramondI';
    font-size: 1.25em;
}

main > ol {
	list-style-type: disc;
    padding: 3px 50px;
}
main > ol > li{
	color: #000;
	font-family: Georgia;
}

table {
    width: 95%;
    margin: auto;
    padding: 10px;
    text-align: center;
    border-spacing: 15px;
}

tr {
    width: 50px;
    padding: 10px;  
}

tr > td > a {
    color: black;
    text-decoration: none;
}

table > caption > h1 {
    text-align: center;
    font-family: var(--fontBI);
    font-variant: small-caps;
}